<html>
<head>
    <title>Admin Miscari</title>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="main_admin.css"/>
    <link rel="icon" type="image/ico" href="Pokeball.png"/>

</head>

<body>
<div id="app">
    <div id="header">
        <h1>Pokedex</h1>
        <nav class="mainmenu">
            <a href="admin_index.html">Pokemoni</a>
            <a href="#">Miscari</a>
            <a href="index.html">User View</a>
            <div id="log">
                <a href="#" onclick="negare()">Logout</a></div>
        </nav>
    </div>
    <!--<div id="sidebar">
      <ul class="sidemenu">
        <li>Home</li>
        <li><label for="F4210DB2-006F-47C9-874E-3A8B5DE715ED">Categories</label><input type="checkbox" id="F4210DB2-006F-47C9-874E-3A8B5DE715ED" /><ul>
          <li>Category 1</li>
          <li>Category 2</li>
          <li>Category 3</li>
          <li>Category 4</li>
        </ul></li>
        <li>Settings</li>
        <li>Account</li>
        <li>Logout</li>
      </ul>
    </div>-->
    <div id="content">
        <table>
            <thead>
            <tr>
                <th>Nume</th>
                <th>Tip</th>
                <th>Categorie</th>
                <th>Pokemoni</th>
                <th>Options</th>

            </tr>
            </thead>
            <tbody id="bodytabel">
            <tr v-for="(el, id) in moves">
                <td>{{el.NAME}}</td>
                <td>  {{el.TYPE}} </td>
                <td>{{el.CAT}}</td>
                <td> <p v-for="pok in el.pokemons">{{pok}}</p>  </td>
                <td><button v-on:click="edit_mov(id)">Edit</button> <button v-on:click="remove_mov(id)">Delete</button></td>

            </tr>
            </tbody>
        </table>
        <label>Nume miscare <input v-model="input_mov.NAME" /></label><br />
        <label>Tip miscare <select v-model="input_mov.TYPE">
            <option value="Fire">Fire</option>
            <option value="Water">Water</option>
            <option value="Grass">Grass</option>
            <option value="Normal">Normal</option>
            <option value="Flying">Flying</option>
            <option value="Fighting">Fighting</option>
            <option value="Poison">Poison</option>
            <option value="Ground">Ground</option>
            <option value="Rock">Rock</option>
            <option value="Bug">Bug</option>
            <option value="Ghost">Ghost</option>
            <option value="Steel">Steel</option>
            <option value="Electric">Electric</option>
            <option value="Psychic">Psychic</option>
            <option value="Ice">Ice</option>
            <option value="Dragon">Draon</option>
            <option value="Dark">Dark</option>
            <option value="Fairy">Fairy</option>
        </select></label><br />

        <label> Categorie <select v-model="input_mov.CAT">
            <option value="Physical">Fizica</option>
            <option value="Special">Special</option>
            <option value="Z-move">Z-move</option>
        </select>  </label>
        <button v-on:click="commit_mov">{{(editId === null)?"Add":"Edit"}}</button>

    </div>
</div>
</body>
</html>
